﻿
@using SpionshopWebAPI.Models
@model List<ArtikelDetailDTO>

@{
    ViewBag.Title = "ArtikelPerCategorie";
}

<div>
             @foreach (ArtikelDetailDTO a in Model)
               {
                <img src="@Html.ImageUrlFor("~/Content/Images/thumbs/"+@a.Artikel_id+".gif")" height="100" />
                @*<img src="@Url.Content("~/Content/Images/thumbs/"+@a.Artikel_id+".gif")" />*@
                <dl class="dl-horizontal">
                    <dt>
                        Artikel
                    </dt>
                    <dd>
                        @Html.ActionLink(@a.Artikel1, "Detail", new {id = @a.Artikel_id },null)
                 </dd>
                    <dt>
                        Verkoopprijs
                    </dt>

                    <dd>
                        @Html.DisplayFor(t => a.Verkoopprijs)
                    </dd>
                </dl>
            }

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
