﻿@model IEnumerable < SpionshopLib.Artikel >
@*@model SpionshopLib.Artikel*@ 

@{
    ViewBag.Title = "Detail";

}


<h2>Detail</h2>
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.UpdateTargetId = "divResponse";
    options.InsertionMode = InsertionMode.Replace;
}

@using (Ajax.BeginForm("UpdateWinkelMand", "Artikels", options))
{
    <table id="PasAan" class="table">
        <tr>
            <th>
                <br />
               Afbeelding
            </th>
            <th>
                <br />
                @*@Html.DisplayNameFor(model => model.Artikel1)*@
                Naam
            </th>
            <th>
                <br />
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                <br />
                @Html.DisplayNameFor(model => model.Verkoopprijs)
            </th>
           
            <th>
                <img alt="winkelmand" height="42" width="42" src="@Url.Content("~/Content/Images/winkelmandje.png")" />
                Aantal in winkelmandje
            </th>
        </tr>
        
       @foreach (var item in Model)
       {
         
           
            <tr>
                <td>
                    <img src="@Html.ImageUrlFor("~/Content/Images/Big/"+@Html.DisplayFor(modelItem =>item.Artikel_id)+".gif")" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artikel1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Omschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verkoopprijs)
                </td>
                
                                <td id="aantalBesteld">
         
                                    @{string test = Model.First().Artikel_id.ToString();
                                        @Html.Hidden("Name", test);
                                        bool aanpassing = false;
                                        @Html.Hidden("aanpassing", aanpassing);
                                    }
       
           @Html.TextBox("textBox1")
           
    </td>
                
                
                <td>
                    
                
               
                    
                    <input type="submit"  value="Voeg toe" />
                    
                </td>

            </tr>
        }
    </table>
}


@Html.ActionLink("Terug naar lijst", "index")
<div id="divResponse"></div>
