﻿@*@model IEnumerable<SpionshopLib.Artikel>*@
@using SpionshopWebAPI.Models
@model List<ArtikelDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Naam</th>
        <th>Omschrijving</th>
        <th></th>
    </tr>

@foreach (ArtikelDTO artikelDTO in Model) {
    <tr>
        <td class="test" data-id="@artikelDTO.Artikel_id">
            @Html.DisplayFor(modelItem => artikelDTO.Artikel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => artikelDTO.Omschrijving)
                                                               
        </td>
<td hidden>
    <img id="@Html.DisplayFor(modelitem =>artikelDTO.Artikel_id)"src="@Html.ImageUrlFor("~/Content/Images/Big/"+@Html.DisplayFor(modelitem =>artikelDTO.Artikel_id)+".gif")" />
</td>
        <td>
@*@Html.ActionLink("Details", "Details", new { id=item.Artikel_id }) |*@
            @Html.ActionLink("Bestel", "Detail", new { id= artikelDTO.Artikel_id })
        </td>
    </tr>
}

</table>
<!-- Bootstrap Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Artikel detail</h4>
            </div>
            
            <div  class="modal-body">
               
                
            </div>
            
          <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
               
            </div>
        </div>
    </div>
</div>

<div id="foo">
</div>



    <script>
        $(document).ready(function () {
            var url = 'http://' + window.location.host + '/api/artikels/';
            var infoModal = $('#myModal');
            $(function () {
                $('td.test').css('cursor', 'pointer').click(function () {

                    $.ajax({
                     
                        type: "GET",
                        url: url + $(this).data('id'),
                        header :'Access-Control-Allow-Origin',
                        dataType: 'json',
                        success: function (data) {
                            var htmlData = '<h4>' + data.Artikel1 + '</h4><hr>';
                            htmlData += '<br><p>Omschrijving: ' + data.Omschrijving + '</p>';
                            htmlData += '<br><p>Prijs: ' + data.Verkoopprijs + '</p>';
                            htmlData += '<br><p>In stock: ' + data.Instock + '</p>';



                            var id = data.Artikel_id
                            var vervang="new{id="+id+"}"
                            var test = "location.href='@Url.Action("Detail", "Artikels", new { id = 1 })'"
                            var ok = test.replace("1", id);


                            var r = $('<input/>').attr({
                                type: "button",
                                id: "field",
                                value: 'Bestel',
                                class: "btn btn-default",
                                data: { dismiss: "modal" },
                                onclick:ok
                            });
                            $(".modal-footer").append(r);
                            infoModal.find('.modal-body').html(htmlData);

                            infoModal.modal('show');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("click mislukt");
                            var err = eval("(" + XMLHttpRequest.responseText + ")");
                            alert("Status: " + textStatus); alert("Error: " + err.Message);
                        }

                    });
                });
            });
            
        });
    </script>

