﻿@using SpionShopWebsite.ViewModels;
@using SpionshopWebAPI.Models.Proxies;

@model WinkelMandViewModel

@{
    ViewBag.Title = "BevestigBestelling";
}

<h2>Beste @Model.Naam, uw bestelling nr. @Model.BesteldeArtikels.First().B_id is bevestigd</h2>

<div id="table">
    <table id="PasAan" class="table">
        <tr>
            <th>
                Benaming
            </th>
            <th>
                Aantal
            </th>
            <th>
                Totaal
            </th>
        </tr>
        @if (Model.BesteldeArtikels != null)

        {
            int counter = 0;
            foreach (BestellingDetailDTO l in Model.BesteldeArtikels)
            {

                <tr class="lijst" id="rij-@counter">
                    <td id="benaming-@counter" class="benaming">
                        @l.ArtikelArtikel1

                        @*@Html.DisplayFor(modelItem => item.Categorie1)*@
                    </td>

                    <td id="aantal-@counter">
                        @l.Aantal

                    </td>
                    @*<td id="totaal @counter">*@
                    <td id="totaal-@counter">
                        @Html.DisplayFor(t => l.TotaalPrijs)
                    </td>
                  
                </tr>
                counter++;
            }
            <tr>
                <td></td>
                <td>TOTAAL:</td>
                <td id="factuurPrijs">
                    @Html.DisplayFor(t => Model.factuurPrijs)

                </td>
            </tr>
        }


    </table>

</div>
