﻿@using SpionShopWebsite.ViewModels;
@using SpionshopWebAPI.Models.Proxies;

@model BestellingDetailDTO
@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.UpdateTargetId = "divResponse";
    options.InsertionMode = InsertionMode.Replace;
    
    options.OnSuccess = "OnSuccess";


}

@*    @Html.ActionLink("Create New", "Create")
    </p>
    <p>
*@


    @using (Ajax.BeginForm("UpdateWinkelMandje", "Winkelmand", options))
    {
        <table class="table">
            <tr>


                <th>
                    <br />
                    Artikelnaam
                </th>
                <th>
                    <br />
                    @Html.DisplayNameFor(model => model.Aantal)
                </th>
            </tr>


            <tr>

                <td id="Benaming">
                    @Html.DisplayFor(model => model.ArtikelArtikel1)
                </td>
                <td id="Aantal">
                    @Html.TextBoxFor(l => l.Aantal);


                </td>
            </tr>

            @{string test = Model.Artikel_id.ToString();
                @Html.Hidden("Name", test);
                @Html.HiddenFor(l => l.ArtikelArtikel1);
                bool aanpassing = true;
                @Html.Hidden("aanpassing", aanpassing);
            }

            @{ 
                @Html.HiddenFor(l => l.Aantal);
                @Html.HiddenFor(l => l.ArtikelArtikel1);
                @Html.HiddenFor(l => l.Artikel_id);
                @Html.HiddenFor(l => l.BD_id);
                @Html.HiddenFor(l => l.B_id);
                @Html.HiddenFor(l => l.KarId);
               
            }

            @Html.Hidden("textBox1", "probeersel")
            <tr>
                <td> <input type="submit" value="Aanpassen" /></td>
                
            </tr>
        </table>
                }

<div id="divResponse">

</div>

<script type="text/javascript">
   

    function OnSuccess(e) {

       debugger
        var counter = 1;
        var tdlist = [];

        $('#PasAan tr.lijst').each(function () {
            tdlist.push($(this).find('td.benaming'));
        });
        counter = 0;
        for (i = 0; i < tdlist.length ; i++) {
            var $currText = tdlist[i].text();
            
                if ($currText.indexOf(e.benaming) != -1) {
                    $("#aantal-" + counter).html(e.aantal);
                    $("#totaal-" + counter).html(e.totaal);
                    $("#factuurPrijs").html(e.factuurprijs);
                }

                counter++;

            


        }

    }
</script>