﻿@using System.Diagnostics
@using SpionShopWebsite.ViewModels;
@using SpionshopWebAPI.Models.Proxies;

@model WinkelMandViewModel
@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "divResponse",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "OnSuccessVerwijderd"
    };

}
<h4>Inhoud winkelmand</h4>
@using (Ajax.BeginForm("UpdateWinkelMandje", "Winkelmand", options))
{
<div id="table">
    <table id="PasAan" class="table">
        <tr>
            <th>
                Benaming
            </th>
            <th>
                Aantal
            </th>
            <th>
                Totaal
            </th>
        </tr>
        @if (Model.BesteldeArtikels != null)

        {
            int counter = 0;
            foreach (BestellingDetailDTO l in Model.BesteldeArtikels)
            {

                <tr class="lijst" id="rij-@counter">
                    <td id="benaming-@counter" class="benaming">
                        @l.ArtikelArtikel1

                        @*@Html.DisplayFor(modelItem => item.Categorie1)*@
                    </td>

                    <td id="aantal-@counter">
                        @l.Aantal

                    </td>
                    @*<td id="totaal @counter">*@
                    <td id="totaal-@counter">
                        @Html.DisplayFor(t => l.TotaalPrijs)
                    </td>
                    <td id="links">

                        @Ajax.ActionLink("Pas aan", "Edit", l, new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "divResponse",
                       OnSuccess = "OnSuccess",
                       HttpMethod = "POST"
                   })
                        @Ajax.ActionLink("Verwijder", "Delete", l, options)

                    </td>
                </tr>
                counter++;
            }
            <tr >
                <td></td>
                <td>TOTAAL:</td>
                <td id="factuurPrijs">
                    @Html.DisplayFor(t => Model.factuurPrijs)
                    
                </td>
            </tr>
        }


    </table>

</div>
}



@*@using (Ajax.BeginForm("MaakBestelling", "WinkelMand", optionsBestelling))*@
@using(Html.BeginForm("MaakBestelling", "WinkelMand"))
{
    WinkelMandViewModel vm = new WinkelMandViewModel();
    //HttpContext context = HttpContext.Current;

    vm.BesteldeArtikels = Model.BesteldeArtikels;
    //Debug.Assert(Model.BesteldeArtikels != null, "Model.BesteldeArtikels != null");
    for (var i = 0; i < Model.BesteldeArtikels.Count; i++)
    {
        @Html.HiddenFor(m => m.BesteldeArtikels[i].Aantal)
    @Html.HiddenFor(m => m.BesteldeArtikels[i].Artikel_id)
        @*@Html.HiddenFor(model => model.BesteldeArtikels[i].ArtikelId);*@
        @Html.HiddenFor(model => model.BesteldeArtikels[i].ArtikelArtikel1)
        @Html.HiddenFor(model => model.BesteldeArtikels[i].KarId)
        @Html.HiddenFor(model => model.BesteldeArtikels[i].RecordId)
        @Html.HiddenFor(model => model.BesteldeArtikels[i].TotaalPrijs)
    }


    @*@Html.HiddenFor(model=>model.BesteldeArtikels);*@


    <div id="button">

        <input type="submit" value="Bestel" style="float: right;">
    </div>
}

    <div id="divResponse">

    </div>

  <script type="text/javascript">

      
      function OnSuccessVerwijderd(e) {
          debugger;
          $('.lijst').each(function () {
              if ($(this).text().match(e.lijn.ArtikelArtikel1))
              {
                $(this).fadeOut('slow');
                $("#divResponse").append(e.boodschap);
                $("#factuurPrijs").html(e.factuurprijs);
                  
              }
          
          });






         
      }

      function OnSuccessBestelling(context){
          window.location.href = context.RedirectUrl;
      
      }
         
  </script>
