﻿@using SpionShopWebsite.ViewModels
@using SpionshopWebAPI.Models;
@using SpionshopLib

@model List<ArtikelDetailDTO>


@*@{
    ViewBag.Title = "Index";
}*@

<h2>Welkom bij <b>SPIONSHOP</b></h2>
<div>
    <p>
        Welkom op dé speciaalsite voor al uw spionage onderdelen!<br>
        Hieronder vindt u een selectie van onze beste artikelen die uw missie tot succes kunnen brengen.<br>
        Klik gerust verder om ons uitgebreid gamma te bekijken.

    </p>
</div>
<div style="text-align:center">
    <h4>Speciaal geselecteerd</h4>
</div>
<div  style="text-align:center">

@foreach (var item in Model)
{
    <section>
        <div class="col-sm-4">
            <a href="@Url.Action("Detail", new { controller = "Artikels", id = item.Artikel_id })">
                <img src="@Html.ImageUrlFor("~/Content/Images/Big/" + item.Artikel_id + ".gif")" alt="@item.Artikel1" width="150" height="150" />
            </a>
            <h4>@Html.ActionLink(item.Artikel1, "Detail", new { controller = "Artikels", id = item.Artikel_id }, null)</h4>
            <p>@Html.DisplayFor(t => item.Verkoopprijs) </p>
        </div>
    </section>

}




    @*@foreach (var item in Model)
    {
        foreach (Artikel art in item.artikel)
        {          
                if (item.afl == art.Artikel_id.ToString() && art.Categorie.Categorie1 == "afleiding")
                {<section>
                    <div class="col-sm-4">
                        <img src="@Url.Content("~/Content/Images/Big/"+item.afl+".gif")" alt="Foto niet beschikbaar" width="150" height="150" />
                        <h4>@Html.ActionLink(art.Artikel1, "Detail", new { controller = "Artikels", id = art.Artikel_id }, null)</h4>
                        <p>&euro; @art.Verkoopprijs  </p>
                    </div>
                </section>
                }

                if (item.alg == art.Artikel_id.ToString() && art.Categorie.Categorie1 == "algemeen")
                {<section>
                    <div class="col-sm-4">
                        <img src="@Url.Content("~/Content/Images/Big/"+item.alg+".gif")" alt="Foto niet beschikbaar" width="150" height="150" />
                        <h4>@Html.ActionLink(art.Artikel1, "Detail", new { controller = "Artikels", id = art.Artikel_id }, null)</h4>
                        <p>&euro; @art.Verkoopprijs  </p>
                    </div>
                </section>
                            }

                if (item.com == art.Artikel_id.ToString() && art.Categorie.Categorie1 == "communicatie")
                {<section>
                    <div class="col-sm-4">
                        <img src="@Url.Content("~/Content/Images/Big/"+item.com+".gif")" alt="Foto niet beschikbaar" width="150" height="150" />
                        <h4>@Html.ActionLink(art.Artikel1, "Detail", new { controller = "Artikels", id = art.Artikel_id }, null)</h4>
                        <p>&euro; @art.Verkoopprijs  </p>
                    </div>
                </section>
                }


      

    

        }

        }*@

</div>



