﻿@using SpionshopWebAPI.Models
@model CategorieDTO


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Categorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Categorienaam
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cat_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
