﻿
<h2>Categorieën</h2>

<div class="page-header">
    <h1>Overzicht</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">categorie</h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Naam</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: categorieen">
                        <tr>
                            <td data-bind="text: Cat_id"></td>
                            <td data-bind="text: Categorie1"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>


</div>


