﻿@using SpionshopWebAPI.Models
@model List<CategorieDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Categorienaam
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie1)    
                   
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cat_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cat_id }) |
            @Html.ActionLink("Delete", "Delete", new { id =item.Cat_id })
        </td>
    </tr>
}

</table>
