﻿@model SpionshopLib.Artikel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artikel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artikel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artikel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verkoopprijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verkoopprijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorie.Categorie1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.Categorie1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Artikel_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
