﻿@model IEnumerable<SpionshopLib.Artikel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artikel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verkoopprijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.Categorie1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artikel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Omschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verkoopprijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie.Categorie1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Artikel_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Artikel_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Artikel_id })
        </td>
    </tr>
}

</table>
