﻿@using SpionshopWebAPI.Models.Proxies
@model BestellingDTO


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@*<div>
    <h4>Bestelling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klant.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klant.Naam)
        </dd>

    </dl>
</div>*@

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BD_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtikelArtikel1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BD_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.B_id })
        </td>
    </tr>

}
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.B_id }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
