﻿@using SpionshopWebAPI.Models.Proxies
@model List<BestellingDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        ID
        </th>
        <th>
        Klantnaam
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.B_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KlantNaam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.B_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.B_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.B_id })
        </td>
    </tr>
}

</table>
