﻿

<h2>Bestelling</h2>

<div class="page-header">
    <h1>Overzicht</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Bestelling</h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Bestelling ID</th>
                            <th>Datum</th>
                            <th>Klant</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: bestellingen">
                        <tr>
                            <td data-bind="text: B_id"></td>
                            <td data-bind="text: moment(Datum()).format('L')"></td>
                            <td data-bind="text: KlantNaam"></td>
                            <td><a href="#" data-bind="click: $parent.getBestellingDetails">details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>
    <!-- ko if:bestellingDetails() -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" data-bind="text: actionDescription"></h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Artikel</th>
                                <th>Aantal</th>

                            </tr>
                        </thead>
                        <tbody data-bind="foreach: bestellingDetails">
                            <tr>
                                <td data-bind="text: Artikel"></td>
                                <td data-bind="text: Aantal"></td>
                            </tr>
                        </tbody>
                    </table>
                    @*<button type="submit" class="btn btn-default" data-bind="text: actionDescription"></button>*@
                </form>
            </div>
        </div>
    </div>

    <!-- /ko -->

</div>

@*@section scripts {
        @Scripts.Render("~/scripts/app.js")
    }*@




