﻿@model SpionshopLib.BestellingDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BestellingDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aantal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artikel.Artikel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artikel.Artikel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bestelling.B_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bestelling.B_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BD_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
