﻿@model IEnumerable<SpionshopLib.BestellingDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aantal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artikel.Artikel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bestelling.B_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aantal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artikel.Artikel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bestelling.B_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BD_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.BD_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BD_id })
        </td>
    </tr>
}

</table>
