﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/skeleton" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/customBootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jQuery-1.10.2.min.js"></script>
    <script src="~/Scripts/jQuery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/moment.js"></script>*@
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Spionshop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>*@


        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            
            <li class="dropdown dropdown-categorie">
             
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorieën<b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-categorie">           
                                 </ul>
            </li>
            <li>@Html.ActionLink("Artikels", "Index", "Artikels")</li>
            <li>@Html.ActionLink("Winkelmand", "Index", "Winkelmand")</li>

          
        </ul>
            <ul class="nav navbar-nav navbar-right">
              
                @if (Session["Token"] != null)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welkom: @Session["UserName"]<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Log uit", "LogOut", "Account")</li>
                        </ul>
                    </li>

                }
                else
                {
                    <li>@Html.ActionLink("Log In", "SignIn", "Account")</li>
                }
                
                </ul>
            
</div>
    </div>
    @if (!string.IsNullOrWhiteSpace(TempData["succesboodschap"] + ""))
    { <h4 id="successdiv"> <img class="messageicon" src="@Url.Content("~/Content/images/check.png")" width="50" height="50" alt="Succes!" /> @Html.Raw(TempData["succesboodschap"]) </h4> }
    <img id="Bond" src="~/Content/Images/007.png" height="50" />   
    <div class="container body-content">
        <table>
            <tbody data-bind="foreach: categorieën">
                <tr>
                    <td data-bind="text: Cat_id"></td>
                    <td><a href="#" data-bind="text: Categorie1"></a></td>
                  
                
            </tbody>
        </table>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET Application gemaakt door Peter, Jan, Laura en Herlinde</p>
        </footer>
    </div>
    @*<script src="~/Scripts/jquery-1.11.0.js"></script>*@
    
   @* @RenderSection("scripts", required: false)*@

    <script>
        $('.dropdown-categorie').on('show.bs.dropdown', function () {
            
            
            $.ajax({
                url: "@Url.Action("GetCategories", "Artikels")",
                contentType: 'applications/html;charset=utf-8',
                type: 'POST',
                dataType: "json"

            })
           .success(function (result) {
               $('.dropdown-menu-categorie').empty();
               var t = "";              
               for (var i = 0; i < result.lcat.length; i++) {
                   
                   var naam = result.lcat[i];
                   t += '<li>@Html.ActionLink("-1", "ArtikelPerCategorie", "Artikels", new { Naam = "-1" }, null)</li>'
                   t = t.replace(new RegExp("-1", "g"), naam);
                   $('.dropdown-menu-categorie').append(t);
                   t = "";
               }
           })
          .error(function (jqXHR, textStatus, errorThrown) {
              alert(errorThrown);
          });
        });
 
            //self.ajaxHelper = function (uri, method, data) {
            //    self.error(''); // Foutmelding leegmaken
            //    return $.ajax({
            //        type: method,
            //        url: uri,
            //        dataType: 'json',
            //        contentType: 'application/json',
            //        data: data ? JSON.stringify(data) : null
            //    }).error(function (jqXHR, textStatus, errorThrown) {
            //        self.error(errorThrown + ': ' + jqXHR.responseText); // Indien fout, foutmelding tonen
            //    });
            //}

    </script>


    @RenderSection("scripts", required: false)
</body>
</html>